// ? Fonts

$font-bebas: "Bebas Neue", cursive;
$font-noto: "Noto Sans JP", sans-serif;
$font-oswald: "Oswald", sans-serif;

// ? Font Sizes

$font-small: 0.8rem;
$font-medium: 1rem;
$font-large: 1.5rem;
$font-xlarge: 3rem;

// ? Colors

$bg: #050505;

$green: #30b484;
$orange: #ce683c;
$yellow: #dac87e;
$black: #050505;
$white: #efefef;
$gray: #bca49f;
